table
{
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr
{
    height: 16.02vh;
    background: #4e494d;
}
td
{
    width: 25vw;
    border: 1px solid #4e494d;
}

#inputBox
{
    background: #4e494d;
    width: 98%;
    height: 80px;
    text-align: end;
    color: white;
    font-size: 70px;
    border: 0px;
}
#inputBox::placeholder
{
    color: white;

}
.operatorBtn
{
    background-color: orange;
}
.ACBtn
{
    background-color: dimgray;
}